* {
  margin: 0;
  padding: 0;
  font-family: 'Covered By Your Grace', cursive;
  transition: all 1s;
}

body {
  text-align: center;
  padding-top: 20px;
}

ul {
  font-size: 1.5em;
  padding-top: 10px;
}

ul > li {
  transform: rotate(180deg);
}

ul > li:hover {
  transform: rotate(0deg);
}

a {
  color: black;
  text-decoration: none;
}